body{
    background-image: url("background.jpg");
    color: white;
}
.container{
    background-color: rgba(0, 0, 0, 0.76);
    min-height: 100vh;
}
img{
    width: 100%;
}
h1{
    color: aqua;
    margin-top: 10px;
    text-align: center;
    font-size: 5em;
    font-weight: bold;
}
h2{
    color: lightblue;
    text-align: center;
    margin: 5px;
    text-decoration: underline;
}
#kor1{
    border: 5px dotted white;
}
#kor2{
    border: 5px dashed white;
}

.pad{
    padding: 5px;
}
ol,ul,li{
    padding: 0;
    margin: 0;
    margin-left: 0.45vw;
}
.xd{
    font-size: 1.05em;
    margin-bottom: 5px;
    border-bottom: 1px solid grey;
}
.category{
    color: rgb(21, 140, 190);
}
.breed{
    margin-top: 50px;
}
#masodik{
    min-height: 16.5vw;
}
p,td,tr{
    margin: 0;
    padding: 0;
    text-align: center;
}
.hp{
    color: rgb(163, 163, 163);
    text-align: right;
}
.progress{
    vertical-align: middle;
}
.table{
    font-size: 1.3vw;
}